#btn{
    margin-left: 580px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

#yy{
 border: 1px solid lightblue;  
 
 align-content: center;
 margin-top: 10px;
}

#xx{
    border: 1px solid lightblue;
}

